@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="manifest" href="https://scanapp.org/assets/manifest.json" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=hE422l856DXg8CY59UvmLDc-V2GhNMFtFoLCW89uHhBgypldgE59ewZhrCFL6C9l" charset="UTF-8"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2KZEP7DPYH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-2KZEP7DPYH');
    </script>

    <link rel="stylesheet" href=https://scanapp.org/assets/main.css>

    <link rel="canonical" href="https://scanapp.org" />
    <link rel="stylesheet" href="https://scanapp.org/assets/app.v2.2.8.2.css">
    <base target="_parent">

    <link rel="canonical" href="https://scanapp.org" />
</head>
<body data-instant-allow-query-string data-instant-allow-external-links>
    <div>
        <link rel="stylesheet" href="https://scanapp.org/assets/css/index.v2.2.8.1.css">
        <div id="scanapp-top-container">
            <div id="scanapp-container">
                <div id="scanner">
                    <div id="logo">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 27 27"><path d="M1 1h7v7h-7zM12 1h3v1h2v-1h1v2h-1v2h-1v-2h-2v1h1v2h2v1h-1v1h-1v-1h-1v-1h-1v-4h-1zM19 1h7v7h-7zM2 2v5h5v-5zM11 2h1v3h-1v1h-1v3h-1v-6h1v1h1zM20 2v5h5v-5zM3 3h3v3h-3zM21 3h3v3h-3zM17 5h1v1h-1zM11 7h1v1h-1zM13 7h1v2h-1zM17 7h1v1h-1zM16 8h1v1h-1zM1 9h1v1h-1zM3 9h5v1h-1v1h-1v-1h-2v1h1v1h-1v1h-2v5h-1v-6h1v-1h1zM10 9h1v2h-1v1h1v1h-1v1h-1v-1h-1v-1h-1v-1h1v-1h2zM12 9h1v1h1v1h1v1h-1v1h1v-1h1v-1h1v2h1v-2h-1v-1h2v1h1v-1h-1v-1h5v1h-3v1h2v1h-2v1h1v1h-1v1h1v-1h1v2h-1v2h1v1h-1v1h1v1h-1v1h1v-1h1v-1h-1v-1h3v1h-1v1h1v5h-6v-2h2v-1h-1v-1h-1v1h-1v-1h-2v1h1v1h1v1h-4v-1h-2v1h1v1h-2v-1h-1v-1h-2v-4h1v2h2v1h2v-1h-1v-2h1v1h1v2h1v-2h1v-2h-1v-1h-1v1h-2v-1h1v-1h1v-1h-2v2h-1v-1h-1v-2h3v-1h-2v-2h1v-1h-1zM14 9h2v1h-2zM24 10h1v1h1v3h-1v1h1v2h-1v-1h-1v-2h-1v-1h2v-1h-1zM11 11h1v1h-1zM19 12v1h1v-1zM4 13h1v2h3v1h-2v1h-1v-1h-1v-1h-1v-1h1zM6 13h2v1h-2zM10 14h1v1h-1zM15 14v1h2v-1zM19 14v1h1v-1zM9 16h1v2h1v1h-2zM17 16v1h1v-1zM19 16v1h1v-1zM4 17h1v1h-1zM6 17h2v1h-2zM23 17h1v1h-1zM18 18v3h3v-3zM1 19h7v7h-7zM11 19h1v1h-1zM15 19h1v2h-1zM19 19h1v1h-1zM2 20v5h5v-5zM3 21h3v3h-3zM24 23v1h-1v1h2v-2zM9 25h1v1h-1z" /></svg>
                    </div>
                    <div id="reader-top-container" style="position: relative;">
                        <div id="reader-container">
                            <div id="reader"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <script src="https://scanapp.org/assets/js/html5-qrcode.min.v2.3.4.js"></script>

        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script>
            function onScanSuccess(decodedText, decodedResult) {
                // handle the scanned code as you like, for example:
                var qr = decodedText
                $.ajax({
                    url: '/DefaultHome/Login',
                    type: 'post',
                    data: {
                        qr
                    },
                    success: function (data) {
                        if (data.code == 100) {
                            window.location.href = data.Url
                        } else {
                            alert(data.msg)
                        }
                    }
                })
            }

            function onScanFailure(error) {
                // handle scan failure, usually better to ignore and keep scanning.
                // for example:
                console.warn(`Code scan error = ${error}`);
            }

            let html5QrcodeScanner = new Html5QrcodeScanner(
                "reader",
                { fps: 10, qrbox: { width: 250, height: 250 } },
  /* verbose= */ false);
            html5QrcodeScanner.render(onScanSuccess, onScanFailure);
    
        </script>
        <!-- <script src="/assets/js/app.js"></script> -->
    </div>
</body>
</html>