@{
    ViewBag.Title = "Bình Chọn";
}
<br />
<div id="idVoteNews" hidden></div>
<div id="radio">

</div>
<br />
<button type="button" class="btn btn-primary" onclick="Save()">Bình Chọn</button>
@section scripts{
    <script>
        $.ajax({
            url: '/Home/Vote',
            type: 'get',
            success: function (data) {
                if (data.code == 200) {
                    $('#idVoteNews').empty()
                    $.each(data.voteNews, function (k, v) {
                        let radio = `<a id="${v.idVotesNew}"></a>`
                        $('#idVoteNews').append(radio)
                    })
                    HideButton()
                } else {

                }
            }
        })

        Vote()
        function Vote() {
            $.ajax({
                url: '/Home/Vote',
                type: 'get',
                success: function (data) {
                    if (data.code == 200) {
                        $('#radio').empty()
                        $.each(data.personVoted, function (k,v) {
                            let radio = `
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" data-idVoteNews="${v.idVotesNew}" name="flexRadioDefault" id="${v.id}">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                ${v.name}
                                            </label>
                                        </div><br />`
                            $('#radio').append(radio)                          
                        })
                    } else {
                        
                    }
                }
            })
        }

        function Save() {
            var flexRadioDefault = $('input[name="flexRadioDefault"]')
            for (let i = 0; i < flexRadioDefault.length; i++) {
                if (flexRadioDefault[i].checked) {
                    var idPersonVote = flexRadioDefault[i].id
                    $.ajax({
                        url: '/Home/AddsVote',
                        type: 'post',
                        data: {
                            idPersonVote
                        },
                        success: function (data) {
                            if (data.code == 200) {
                                alert("Thành Công")
                                $('button[type="button"]').css('display','none')
                            } else {

                            }
                        }
                    })
                }
            }
        }
        function HideButton() {
            var idVoteNew = $('#idVoteNews')[0].childNodes[0].id
            $.ajax({
                url: '/Home/HideButton',
                type: 'get',
                data: {
                     idVoteNew
                },
                success: function (data) {
                    if (data.code == 200) {
                       
                        $('button[type="button"]').css('display', 'show')
                    } else {
                        alert("Bạn Đã Bình Chọn")
                        $('button[type="button"]').css('display', 'none')
                    }
                }
            })
        }

    </script>
    }