@model IEnumerable<EMS.Models.TypeCustomer>
@{
    ViewBag.Title = "Loại Khách Hàng";
    Layout = "~/Areas/EMS/Views/Shared/_Layout.cshtml";
}
<br />
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Add</button>
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">Stt</th>
            <th scope="col">Tên</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody >
        @foreach (var item in Model)
        {
            var Stt = 1;
                <tr id="@item.Id">
                    <td>@(Stt++)</td>
                    <td>@item.Name</td>
                    <td class="text-danger" style="cursor:pointer" name="delete">Xóa</td>
                </tr>
            }
    </tbody>
</table>
<div class="modal" id="myModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm Loại Khách Hàng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">Tên : </div>
                    <div class="col-9"><input class="form-control" type="text" id="name"/></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="Add()">Save changes</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        function Add() {
            var name = $('#name').val().trim()
            $.ajax({
                url: '/TypeCustomerEMS/Adds',
                type: 'post',
                data: {
                    name
                },
                success: function (data) {
                    if (data.code == 200) {
                        window.location.href = "Index"
                    } else {
                        alert(data.msg)
                    }
                }
            })
        }

        $(document).on('click', 'td[name="delete"]',function () {
            var id = $(this).closest('tr').attr('id')
            $.ajax({
                url: '/TypeCustomerEMS/Deletes',
                type: 'post',
                data: {
                    id
                },
                success: function (data) {
                    if (data.code == 200) {
                        window.location.href = "Index"
                    } else {
                        alert(data.msg)
                    }
                }
            })
        })
    </script>
    }

